body{
    width: 1700px;
    margin-left:100px;
    margin-right:100px;
    
}
main{    
    padding-top: 60px;
    margin-left:25px;
    margin-right:25px;
    height: 500px;
    /* border:dotted; */
    text-align: center;
    background-image:url("../images/background1.png");
    background-repeat:no-repeat;
    opacity:0.4;
}
header{
    height: 275px;
    width:100%;
}
.jumbotron{
    background-color:rgb(104, 200, 255);
    color:white;
}
footer{
    padding:auto;
    height:60px;
    /* border: solid; */
    text-align:center;


}
#mainName{
    float:left;
    /* border:solid; */
    width:500px;
    margin-right:100px;
}
.display-4{
    font-size:23px;
}
#img1{
    size:150px;
    float:left;
    /* border:solid; */
    margin-left: 100px;
    margin-bottom:15px;

}
#ddown{
    clear:both;
    /* border:solid; */
}


